.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
}
// .clients-list__item:not(:last-child){
//     margin-right: 30px;
// }
.clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}
.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: fill var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
}

// Smartphone viewport 0px - 479px

@media screen and (max-width: 479px) {
  .title {
    font-size: 23px;
  }
  .card-border {
    width: 130px;
  }
}

// Smartphone Viewport from 480px to 768px

@media screen and (min-width: 480px) and (max-width: 768px) {
  .clients-list__link {
    width: 210px;
  }
}
// Tablet Viewport from 768px to 1199px

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__link {
    width: 226px;
  }
}
// Desktop viewport from 1200px

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;

    font-size: 36px;
  }
  .clients-list__link {
    width: 170px;
  }
}



