.stenghth-section {
    padding-top: 89px;
    padding-bottom: 0px;
}
.strengths-list {  

    & .strengths-list__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var( --secondary-text-color)
    }    
}
.main__strengths-list{
    margin-left: -30px;
    margin-top: -30px;
}
.strengths-list__item {
    margin-left: 30px;
    margin-top: 30px;
}

.strengths-list__icon-container {
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strengths-list__title {
    margin-bottom: 10px;
}

.strengths-list__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0px;
}

// Smartphone viewport 0px - 479px

@media screen and (max-width: 479px) {
    .main__strengths-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .strengths-list__item {
        width: 100%;
    
        &:nth-of-type(-n + 3) {
        margin-bottom: 30px;
        }
    }
    .strengths-list__title {
        display: flex;
        justify-content: center;
    }
}

// Smartphone Viewport from 480px to 768px

@media screen and (min-width: 480px) and (max-width: 768px) {
    .main__strengths-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .strengths-list__item {
        width: 450px;
        
        &:nth-of-type(-n + 3) {
        margin-bottom: 30px;
        }
    }
    .strengths-list__title {
        display: flex;
        justify-content: center;
    }
}

// Tablet Viewport from 768px to 1199px

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main__strengths-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .strengths-list__item {
        width: 354px;

        &:nth-of-type(-n + 2) {
        margin-bottom: 30px;
        }
    }
}

// Desktop viewport from 1200px
@media screen and (min-width: 1200px) {
    .stenghth-section {
        padding-top: 89px;
        padding-bottom: 0px;
    }
    .strengths-list {  
    
        & .strengths-list__title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var( --secondary-text-color)
        }
    
        & .strengths-list__item {
        width: 270px;
        }
    }
    .main__strengths-list{
        display: flex;
        margin-left: -30px;
        margin-top: -30px;
    }
    .strengths-list__item {
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .strengths-list__icon-container {
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .strengths-list__title {
        margin-bottom: 10px;
    }
    
    .strengths-list__description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-top: 0px;
    }
}
